<!-- app_list_vulnerabilities -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename='style.css')}}">
    <title>Vulnerability Details</title>
    <style>
        .table-container {
            margin-bottom: 20px;
        }
        .table-container h2 {
            margin-top: 0;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Vulnerability Details</h1>
    {% if vulnerabilities %}
        {% for app, vulnerabilities in vulnerabilities.items() %}
        <div class="table-container">
            <h2>{{ app }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>CVE ID</th>
                        <th>Base Score</th>
                        <th>Base Severity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vulnerability in vulnerabilities %}
                    <tr>
                        <td>{{ vulnerability.description }}</td>
                        <td>{{ vulnerability.cve_id }}</td>
                        <td>{{ vulnerability.base_score }}</td>
                        <td>{{ vulnerability.base_severity }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    {% else %}
        <p>No vulnerabilities found.</p>
    {% endif %}
</body>
</html>
